bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
volume/
db-data/

# MacOS
*.DS_Store

# Rider
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
**/.idea/dataSources/
*.meta